# .gitignore file for the project

# Ignore directories of dependencies and compilation
.nx/
node_modules/
dist/
out/
build/
.tmp/
temp/

# Ignore environment files
.env
.env.local

# Ignore editor and system cache files
*.log
*.cache
*.DS_Store
.vscode/
.idea/
*.swp
*.swo

# Ignore specific node_modules directories in apps
apps/api/node_modules/
apps/frontend/node_modules/
# End of .gitignore file
